[submodule "Complete-Striped-Smith-Waterman-Library"]
	path = Complete-Striped-Smith-Waterman-Library
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
[submodule "suffixarray/libdivsufsort"]
	path = suffixarray/libdivsufsort
	url = https://github.com/mkirsche/libdivsufsort.git
